@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #33363f;
    --background-start-color: #d6dbdc;
    --background-end-color: #ffffff;

    --space-unit: 8;
}

body {
    color: var(--foreground-color);
    background: linear-gradient(
            to bottom,
            transparent,
            var(--background-end-color)
        )
        var(--background-start-color);
}

/* Optional: Dark mode handling */
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ffffff;
        --background-start-color: #000000;
        --background-end-color: #000000;
    }
}
